In [2]:
import pandas as pd
import numpy as no
import matplotlib.pyplot as plt
import seaborn as sns

# 1.Problem Statement
Which countries have the most progress on reducing emissions? What do they have in common? What policies have they enacted?

# 2.Load in Dataset
Load data in and identify which features to use.

In [16]:
df_country = pd.read_csv(r'C:\Users\Johnny\Documents\Chase Datathon\FFG_Hackathon_Country_Level_Data.csv')
df_region = pd.read_csv(r'C:\Users\Johnny\Documents\Chase Datathon\FFG_Hackathon_Region_Level_Data.csv')
df_meta = pd.read_csv(r'C:\Users\Johnny\Documents\Chase Datathon\FFG_Hackathon_Metadata.xlsx')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 2

In [7]:
df_country

,Year,Country Name,Country Code,AG.LND.AGRI.K2,AG.LND.TOTL.K2,AG.SRF.TOTL.K2,EG.ELC.COAL.ZS,EG.ELC.FOSL.ZS,EG.ELC.HYRO.ZS,EG.ELC.NGAS.ZS,...,EN.ATM.CO2E.SF.ZS,EN.CO2.BLDG.ZS,EN.CO2.ETOT.ZS,EN.CO2.MANF.ZS,EN.CO2.OTHX.ZS,EN.CO2.TRAN.ZS,EN.POP.DNST,NY.GDP.TOTL.RT.ZS,SP.RUR.TOTL,SP.URB.TOTL
0,2007,Albania,ALB,11190.00,27400.0,28750.0,0.000000,2.517483,97.482517,0.000000,...,1.867414,7.407407,8.730159,16.931217,11.640212,55.555556,108.394781,1.761086,1517619.0,1452398.0
1,2007,Algeria,DZA,412520.00,2381740.0,2381740.0,0.000000,99.392408,0.607592,97.257770,...,2.755153,16.028285,40.011785,11.455510,0.000000,32.516205,14.345383,32.464934,11839539.0,22327433.0
2,2007,Angola,AGO,508468.17,1246700.0,1246700.0,0.000000,22.381100,77.618900,0.000000,...,0.000000,23.858921,12.344398,23.547718,0.311203,40.041494,16.768559,46.279012,8879762.0,12025601.0
3,2007,Argentina,ARG,1440330.00,2736690.0,2780400.0,2.179398,63.438998,28.270726,51.046874,...,2.091227,14.616174,33.816513,20.510962,5.405569,25.644742,14.500837,4.995813,3823185.0,35861110.0
4,2007,Armenia,ARM,17519.00,28470.0,29740.0,0.000000,25.245846,31.417430,25.245846,...,0.145033,22.291667,22.500000,24.375000,8.750000,22.083333,103.007306,0.009296,1063397.0,1869221.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,2016,"Venezuela, RB",VEN,215000.00,882050.0,912050.0,NaN,NaN,NaN,NaN,...,0.285899,NaN,NaN,NaN,NaN,NaN,33.837287,NaN,3532295.0,26313884.0
1306,2016,Vietnam,VNM,121722.00,310070.0,331230.0,NaN,NaN,NaN,NaN,...,42.138520,NaN,NaN,NaN,NaN,NaN,301.992208,3.355316,61324000.0,32314724.0
1307,2016,"Yemen, Rep.",YEM,233858.00,527970.0,527970.0,NaN,NaN,NaN,NaN,...,3.041825,NaN,NaN,NaN,NaN,NaN,51.457867,0.797530,17552294.0,9615916.0
1308,2016,Zambia,ZMB,238360.00,743390.0,752610.0,NaN,NaN,NaN,NaN,...,16.619116,NaN,NaN,NaN,NaN,NaN,22.012009,11.680386,9419162.0,6944345.0
1309,2016,Zimbabwe,ZWE,162000.00,386850.0,390760.0,NaN,NaN,NaN,NaN,...,64.373957,NaN,NaN,NaN,NaN,NaN,36.268295,4.473632,9499135.0,4531255.0

In [12]:
print('Missing Data')
print(df_country.isna().sum())
print('Percentage of missing Data')
print(df_country.isna().sum() / len(df_country))

Missing Data
Year                   0
Country Name           0
Country Code           0
AG.LND.AGRI.K2         4
AG.LND.TOTL.K2         4
AG.SRF.TOTL.K2         4
EG.ELC.COAL.ZS       130
EG.ELC.FOSL.ZS       131
EG.ELC.HYRO.ZS       130
EG.ELC.NGAS.ZS       130
EG.ELC.NUCL.ZS       228
EG.ELC.PETR.ZS       130
EG.ELC.RNEW.ZS       130
EG.ELC.RNWX.KH       131
EG.ELC.RNWX.ZS       130
EG.FEC.RNEW.ZS       131
EG.GDP.PUSE.KO.PP    247
EG.USE.COMM.CL.ZS    234
EG.USE.COMM.FO.ZS    255
EG.USE.ELEC.KH.PC    260
EN.ATM.CO2E.GF.KT      4
EN.ATM.CO2E.GF.ZS      4
EN.ATM.CO2E.KT         4
EN.ATM.CO2E.LF.KT      4
EN.ATM.CO2E.LF.ZS      4
EN.ATM.CO2E.PC         4
EN.ATM.CO2E.PP.GD     27
EN.ATM.CO2E.SF.KT      4
EN.ATM.CO2E.SF.ZS      4
EN.CO2.BLDG.ZS       262
EN.CO2.ETOT.ZS       262
EN.CO2.MANF.ZS       262
EN.CO2.OTHX.ZS       262
EN.CO2.TRAN.ZS       262
EN.POP.DNST            4
NY.GDP.TOTL.RT.ZS      7
SP.RUR.TOTL            5
SP.URB.TOTL            5
dtype: int64
Percentage of missing Data
Year                 0.000000
Country Name         0.000000
Country Code         0.000000
AG.LND.AGRI.K2       0.003053
AG.LND.TOTL.K2       0.003053
AG.SRF.TOTL.K2       0.003053
EG.ELC.COAL.ZS       0.099237
EG.ELC.FOSL.ZS       0.100000
EG.ELC.HYRO.ZS       0.099237
EG.ELC.NGAS.ZS       0.099237
EG.ELC.NUCL.ZS       0.174046
EG.ELC.PETR.ZS       0.099237
EG.ELC.RNEW.ZS       0.099237
EG.ELC.RNWX.KH       0.100000
EG.ELC.RNWX.ZS       0.099237
EG.FEC.RNEW.ZS       0.100000
EG.GDP.PUSE.KO.PP    0.188550
EG.USE.COMM.CL.ZS    0.178626
EG.USE.COMM.FO.ZS    0.194656
EG.USE.ELEC.KH.PC    0.198473
EN.ATM.CO2E.GF.KT    0.003053
EN.ATM.CO2E.GF.ZS    0.003053
EN.ATM.CO2E.KT       0.003053
EN.ATM.CO2E.LF.KT    0.003053
EN.ATM.CO2E.LF.ZS    0.003053
EN.ATM.CO2E.PC       0.003053
EN.ATM.CO2E.PP.GD    0.020611
EN.ATM.CO2E.SF.KT    0.003053
EN.ATM.CO2E.SF.ZS    0.003053
EN.CO2.BLDG.ZS       0.200000
EN.CO2.ETOT.ZS       0.200000
EN.CO2.MANF.ZS       0.200000
EN.CO2.OTHX.ZS       0.200000
EN.CO2.TRAN.ZS       0.200000
EN.POP.DNST          0.003053
NY.GDP.TOTL.RT.ZS    0.005344
SP.RUR.TOTL          0.003817
SP.URB.TOTL          0.003817
dtype: float64

In [8]:
df_region

,Year,Region Name,Region Code,AG.LND.AGRI.K2,AG.LND.TOTL.K2,AG.SRF.TOTL.K2,EG.ELC.COAL.ZS,EG.ELC.FOSL.ZS,EG.ELC.HYRO.ZS,EG.ELC.NGAS.ZS,...,EN.ATM.CO2E.SF.ZS,EN.CO2.BLDG.ZS,EN.CO2.ETOT.ZS,EN.CO2.MANF.ZS,EN.CO2.OTHX.ZS,EN.CO2.TRAN.ZS,EN.POP.DNST,NY.GDP.TOTL.RT.ZS,SP.RUR.TOTL,SP.URB.TOTL
0,2007,Arab World,ARB,4.100190e+06,1.123533e+07,1.129105e+07,1.762740,89.984788,3.963724,61.248601,...,1.620960,5.650951,46.898082,20.719009,1.564072,25.168746,29.397506,33.493019,148138437,182152279
1,2007,Central Europe and the Baltics,CEB,5.335050e+05,1.103146e+06,1.134949e+06,56.834086,68.004595,8.193398,9.389400,...,54.898725,12.008253,54.620856,14.253523,2.264274,16.850379,95.525658,1.040325,40210586,65168162
2,2007,Early-demographic dividend,EAR,1.358708e+07,3.323806e+07,3.413897e+07,32.421922,77.757311,17.324979,32.495198,...,31.617409,10.535275,46.186588,19.464848,3.102839,20.709016,83.546457,11.420924,1642568366,1134354137
3,2007,East Asia & Pacific,EAS,1.186039e+07,2.442331e+07,2.486194e+07,60.577680,77.822184,11.254810,12.818944,...,62.028463,6.692401,51.070526,28.415529,2.080749,11.740694,88.513195,3.139450,1105876303,1055909270
4,2007,East Asia & Pacific (IDA & IBRD countries),TEA,7.659722e+06,1.583028e+07,1.618747e+07,73.755915,82.808673,14.320835,6.924162,...,68.219112,6.129646,50.190863,31.844113,2.335515,9.499457,120.010545,6.815940,1061903356,837897174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2016,Sub-Saharan Africa,SSF,1.012424e+07,2.385285e+07,2.428743e+07,NaN,NaN,NaN,NaN,...,49.865479,NaN,NaN,NaN,NaN,NaN,42.868274,6.648397,622554759,399975777
376,2016,Sub-Saharan Africa (IDA & IBRD countries),TSS,1.012424e+07,2.385285e+07,2.428743e+07,NaN,NaN,NaN,NaN,...,49.865479,NaN,NaN,NaN,NaN,NaN,42.868274,6.648397,622554759,399975777
377,2016,Sub-Saharan Africa (excluding high income),SSA,1.012336e+07,2.385036e+07,2.428493e+07,NaN,NaN,NaN,NaN,...,49.955114,NaN,NaN,NaN,NaN,NaN,42.815805,6.708353,621766355,399406031
378,2016,Upper middle income,UMC,2.013723e+07,5.765352e+07,5.915601e+07,NaN,NaN,NaN,NaN,...,51.813769,NaN,NaN,NaN,NaN,NaN,48.493815,2.537366,1006873632,1787188074
379,2016,World,WLD,4.769147e+07,1.299566e+08,1.345497e+08,NaN,NaN,NaN,NaN,...,42.086801,NaN,NaN,NaN,NaN,NaN,57.129142,1.503752,3386857553,4035639869

In [15]:
print('Missing Data')
print(df_region.isna().sum())
print('Percentage of missing Data')
print(df_region.isna().sum() / len(df_region))

Missing Data
Year                  0
Region Name           0
Region Code           0
AG.LND.AGRI.K2        0
AG.LND.TOTL.K2        0
AG.SRF.TOTL.K2        0
EG.ELC.COAL.ZS       38
EG.ELC.FOSL.ZS       38
EG.ELC.HYRO.ZS       38
EG.ELC.NGAS.ZS       38
EG.ELC.NUCL.ZS       53
EG.ELC.PETR.ZS       38
EG.ELC.RNEW.ZS       38
EG.ELC.RNWX.KH       38
EG.ELC.RNWX.ZS       38
EG.FEC.RNEW.ZS       38
EG.GDP.PUSE.KO.PP    70
EG.USE.COMM.CL.ZS    53
EG.USE.COMM.FO.ZS    53
EG.USE.ELEC.KH.PC    76
EN.ATM.CO2E.GF.KT     2
EN.ATM.CO2E.GF.ZS     0
EN.ATM.CO2E.KT        0
EN.ATM.CO2E.LF.KT     2
EN.ATM.CO2E.LF.ZS     0
EN.ATM.CO2E.PC        0
EN.ATM.CO2E.PP.GD     0
EN.ATM.CO2E.SF.KT    61
EN.ATM.CO2E.SF.ZS     0
EN.CO2.BLDG.ZS       76
EN.CO2.ETOT.ZS       76
EN.CO2.MANF.ZS       76
EN.CO2.OTHX.ZS       76
EN.CO2.TRAN.ZS       76
EN.POP.DNST           0
NY.GDP.TOTL.RT.ZS     0
SP.RUR.TOTL           0
SP.URB.TOTL           0
dtype: int64
Percentage of missing Data
Year                 0.000000
Region Name          0.000000
Region Code          0.000000
AG.LND.AGRI.K2       0.000000
AG.LND.TOTL.K2       0.000000
AG.SRF.TOTL.K2       0.000000
EG.ELC.COAL.ZS       0.100000
EG.ELC.FOSL.ZS       0.100000
EG.ELC.HYRO.ZS       0.100000
EG.ELC.NGAS.ZS       0.100000
EG.ELC.NUCL.ZS       0.139474
EG.ELC.PETR.ZS       0.100000
EG.ELC.RNEW.ZS       0.100000
EG.ELC.RNWX.KH       0.100000
EG.ELC.RNWX.ZS       0.100000
EG.FEC.RNEW.ZS       0.100000
EG.GDP.PUSE.KO.PP    0.184211
EG.USE.COMM.CL.ZS    0.139474
EG.USE.COMM.FO.ZS    0.139474
EG.USE.ELEC.KH.PC    0.200000
EN.ATM.CO2E.GF.KT    0.005263
EN.ATM.CO2E.GF.ZS    0.000000
EN.ATM.CO2E.KT       0.000000
EN.ATM.CO2E.LF.KT    0.005263
EN.ATM.CO2E.LF.ZS    0.000000
EN.ATM.CO2E.PC       0.000000
EN.ATM.CO2E.PP.GD    0.000000
EN.ATM.CO2E.SF.KT    0.160526
EN.ATM.CO2E.SF.ZS    0.000000
EN.CO2.BLDG.ZS       0.200000
EN.CO2.ETOT.ZS       0.200000
EN.CO2.MANF.ZS       0.200000
EN.CO2.OTHX.ZS       0.200000
EN.CO2.TRAN.ZS       0.200000
EN.POP.DNST          0.000000
NY.GDP.TOTL.RT.ZS    0.000000
SP.RUR.TOTL          0.000000
SP.URB.TOTL          0.000000
dtype: float64