In [ ]:
!pip install wb

Collecting wb
  Downloading https://files.pythonhosted.org/packages/7b/f9/1b4a638c037d780e9c9e59f932b2ea4db238505bd0efd0ff09eb0690ca8e/WB-7.1.tar.gz (170kB)
     |████████████████████████████████| 174kB 3.9MB/s
Building wheels for collected packages: wb
  Building wheel for wb (setup.py) ... done
  Created wheel for wb: filename=WB-7.1-cp37-none-any.whl size=23203 sha256=e053c3afcfc2624836cc42455f83249d189137dc0710b3f91717960096a4a414
  Stored in directory: /root/.cache/pip/wheels/f4/e6/b6/5a92587237a8ef5f57f3f2132dd21fe5af6c40108760d89bc6
Successfully built wb
Installing collected packages: wb
Successfully installed wb-7.1

In [ ]:
from google.colab import files
  
  
uploaded = files.upload()

Saving Count_Data.csv to Count_Data.csv

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['Count_Data.csv']))
print(df)

      Year   Country Name  ... SP.RUR.TOTL  SP.URB.TOTL
0     2007        Albania  ...   1517619.0    1452398.0
1     2007        Algeria  ...  11839539.0   22327433.0
2     2007         Angola  ...   8879762.0   12025601.0
3     2007      Argentina  ...   3823185.0   35861110.0
4     2007        Armenia  ...   1063397.0    1869221.0
...    ...            ...  ...         ...          ...
1305  2016  Venezuela, RB  ...   3532295.0   26313884.0
1306  2016        Vietnam  ...  61324000.0   32314724.0
1307  2016    Yemen, Rep.  ...  17552294.0    9615916.0
1308  2016         Zambia  ...   9419162.0    6944345.0
1309  2016       Zimbabwe  ...   9499135.0    4531255.0

[1310 rows x 38 columns]

In [ ]:
Country_details = pd.read_csv('Count_Data.csv')

In [ ]:
Country_details.shape

(1310, 38)

In [ ]:
Country_details.describe()

              Year  AG.LND.AGRI.K2  ...   SP.RUR.TOTL   SP.URB.TOTL
count  1310.000000    1.306000e+03  ...  1.305000e+03  1.305000e+03
mean   2011.500000    3.240532e+05  ...  2.379115e+07  2.663238e+07
std       2.873378    7.597534e+05  ...  9.529736e+07  7.496477e+07
min    2007.000000    6.600000e+00  ...  0.000000e+00  2.770690e+05
25%    2009.000000    1.886650e+04  ...  1.235817e+06  2.821045e+06
50%    2011.500000    7.566000e+04  ...  3.571323e+06  6.883211e+06
75%    2014.000000    2.592400e+05  ...  1.356700e+07  2.149165e+07
max    2016.000000    5.290386e+06  ...  8.850108e+08  7.821994e+08

[8 rows x 36 columns]

In [ ]:
from google.colab import files
  
  
uploaded = files.upload()

Saving Region_Data.csv to Region_Data.csv

In [ ]:
import pandas as pd
import io
  
df = pd.read_csv(io.BytesIO(uploaded['Region_Data.csv']))
print(df)

     Year                                 Region Name  ... SP.RUR.TOTL  SP.URB.TOTL
0    2007                                  Arab World  ...   148138437    182152279
1    2007              Central Europe and the Baltics  ...    40210586     65168162
2    2007                  Early-demographic dividend  ...  1642568366   1134354137
3    2007                         East Asia & Pacific  ...  1105876303   1055909270
4    2007  East Asia & Pacific (IDA & IBRD countries)  ...  1061903356    837897174
..    ...                                         ...  ...         ...          ...
375  2016                          Sub-Saharan Africa  ...   622554759    399975777
376  2016   Sub-Saharan Africa (IDA & IBRD countries)  ...   622554759    399975777
377  2016  Sub-Saharan Africa (excluding high income)  ...   621766355    399406031
378  2016                         Upper middle income  ...  1006873632   1787188074
379  2016                                       World  ...  3386857553   4035639869

[380 rows x 38 columns]

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
Region_details = pd.read_csv('Region_Data.csv')

In [ ]:
Region_details.shape

(380, 38)

In [ ]:
Region_details.describe ()

              Year  AG.LND.AGRI.K2  ...   SP.RUR.TOTL   SP.URB.TOTL
count   380.000000    3.800000e+02  ...  3.800000e+02  3.800000e+02
mean   2011.500000    1.092056e+07  ...  8.316844e+08  8.620777e+08
std       2.876068    1.047361e+07  ...  9.339959e+08  8.642321e+08
min    2007.000000    5.162338e+05  ...  3.894782e+07  6.404646e+07
25%    2009.000000    4.613151e+06  ...  1.410464e+08  2.794325e+08
50%    2011.500000    7.786361e+06  ...  4.273982e+08  4.773414e+08
75%    2014.000000    1.220376e+07  ...  1.091994e+09  1.059345e+09
max    2016.000000    4.795942e+07  ...  3.386858e+09  4.035640e+09

[8 rows x 36 columns]

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import wbdata as wb

ModuleNotFoundError: ignored

In [ ]:
wb.search_indicators("CO2 emission")

NameError: ignored